* {
	background-color: #D3E4FF;
	font-family: Helvetica, Verdana, Arial;
        font-kerning: auto;
        font-size-adjust:0.58;
}

h1{
	color: #003D86;
	text-transform: uppercase;
        text-align: center;
}

h2{
    color: #292929
}

h3{
    color: #02725e;
}

h2:hover{
    background-color: #C6DDFF;
}

p, div strong {
    padding: 0 0 0 10px;
}

.subtitle{
    text-align: center;
    position: relative;
    top: -20px;
    font-size: 0.8em;
    color: #014184;
    margin-bottom: 15px;
}

.blue{
    color: #2992ff;
}

.left, .right{
    width: 49%;
    height: 200px;
}

.left p, .right p{
    width: 80%;
    text-align: justify;
}

.left {
    float: left;
    border-right: 1px dotted #afafaf;
}

.right {
    float: right;
}

.center {
    clear: both;
}

div strong{
    
}