body{
	background-color: #DCDCDC;
	font-size: 1.2em;
	font-family: helvetica, verdana, arial;
	color: #005D77;
}

header{
	font-size: 2em;
	text-align: center;
}

h1{
	font-size: 1.3em;
}

p{
	padding: 10px 20px;
	text-align: justify;
	color:#3D3D3D;
}

footer{
	text-align: center;
	border-top: 1px solid #828282;
	padding: 10px;
	color: #828DD5;
}